insmod all_video
insmod gfxterm
insmod part_gpt
insmod part_msdos
insmod iso9660
insmod search
insmod search_fs_file
insmod search_label

search --no-floppy --set=root --label VITOS-V1
if [ -z "$root" ]; then
    search --no-floppy --set=root --file /live/vmlinuz
fi

set default=0
set timeout=30
set gfxmode=auto
set gfxpayload=keep

if terminal_output gfxterm ; then
    true
else
    terminal_output console
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "VITOS - Live (amd64)" --class os {
    linux /live/vmlinuz boot=live components quiet splash username=student
    initrd /live/initrd.img
}

menuentry "VITOS - Live (failsafe)" --class os {
    linux /live/vmlinuz boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=normal username=student
    initrd /live/initrd.img
}
