label live-amd64
    menu label ^VITOS Live
    menu default
    linux /live/vmlinuz
    initrd /live/initrd.img
    append @APPEND_LIVE@

label live-amd64-failsafe
    menu label VITOS Live (^fail-safe mode)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append @APPEND_LIVE@ noapic noapm nodma nomce nolapic nosmp nosplash vga=normal

label live-amd64-forensic
    menu label VITOS Live (^forensic mode)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append @APPEND_LIVE@ noswap noautomount

label live-amd64-persistence
    menu label VITOS Live (^USB persistence)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append @APPEND_LIVE@ persistence
